/* Estilos generales */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #a2d2ff;
    background-color: #333533;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #8338ec;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    text-transform: uppercase;
}

h2 {
    color: #f15bb5;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
    font-weight: bold;
    color: #060;
}

a {
    color: #060;
    font-size: 22px;
    text-decoration: underline;
}

a:hover {
    color: #f15bb5;
}

p {
    line-height: 1.5;
}

/* Estilos de imagen */

img {
    display: block;
    margin: 20px auto;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}

/* Estilos específicos para texto */

strong {
    color: #060;
}

span {
    color: #FFF;
    background-color: #000;
    font-style: italic;
}