#titulo{
  border:blue 10px solid;
  padding: 20px 20px 20px 40px; 
  background: orange; 
  color: white;
}
#subtitulo{
  border:pink 5px dashed;
  padding-left: 250px; 
  margin-top: 300px;   
}
.centrado{
    border: green 2px dotted;
    width: 500px;
    margin: auto;
    text-align: center;
}
.inlinetoblock{
    display: block;
}
#ContenedorPruebaPosition{
    border: green 5px solid;
    width:1000px;
    height: 500px;
}
#divestatico{
    position: static;
    background: orange;
    border: red 5px solid;
    width:100px;
    height: 100px;
    z-index: 1;
}
#divrelativo{
    position: relative;
    background: green;
    border: orange 5px solid;
    top: 30px;
    left: 150px;
    width:100px;
    height: 100px;
}
#divAbsoluto{
    position: absolute;
    background:  blue;
    border: orange 5px solid;
    top: 1000px;
    left: 150px;
    width:100px;
    height: 100px;
}
#divSticky{
    position: sticky;
    background:  black;
    border: orange 5px solid;
    top: 20px;
    left: 20px;
    width:100px;
    height: 100px;
}
#divSticky2{
    position: sticky;
    background:  red;
    border: orange 5px solid;
    bottom: 20px;
    left: 20px;
    width:100px;
    height: 100px;
}