*{
    font-family:Arial, sans-serif;
    color:black;
}
#titulo-principal {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    font-size: 18px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
li:hover {
    background-color: lightyellow;
}
LI:focus {
    background-color: lightcyan;
}
Li:not(.completado)::before {
    list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='red' viewBox='0 0 16 16'%3E%3Cpath d='M12.354 3.354a.5.5 0 0 1 0 .708L8.707 8l3.647 3.646a.5.5 0 0 1-.708.708L8 8.707l-3.646 3.647a.5.5 0 0 1-.708-.708L7.293 8 3.646 4.354a.5.5 0 0 1 .708-.708L8 7.293l3.646-3.647a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
    display: inline-block;
    width: 1em;
    margin-right: 0.5em;
}
li.completado {
  list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='green' viewBox='0 0 16 16'%3E%3Cpath d='M5.55 8.783a.5.5 0 0 1 .726-.672l3.252 3.01 6.06-8.075a.5.5 0 0 1 .837.547l-6.667 8.889a.5.5 0 0 1-.778.04L6.139 9.41l-.589-.627a.5.5 0 0 1 .728-.8l.272.29z'/%3E%3C/svg%3E");
}
